
.item{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.posts_img{
  margin-right: 30px;
}
.posts_img img{
width: 250px;
height: 250px;
}

.post_text{
  font-size: 22px;
}

.post_like{
  font-size: 18px;
 }

@media (max-width: 769px) {
  .item{
    flex-direction: column;
  }
  .posts_img{
    margin-right:0;
  }
}