.user{
    margin: 30px;
    height: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.userPhoto{
    padding: 10px 20px;

}
.userInfo{
    padding: 10px 30px;
    border: 1px solid var(--violet);
    border-radius: 30px;
    width: 70%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas: 'name location'
                        'message message'
;
}
.userName{
    grid-area: name;
    font-size: 28px;
    margin-bottom: 0;
    padding: 0;
    color: #0400f7;
}
.userMessage{
    grid-area: message;
    display: flex;
    align-items: end;
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.btnFollow{
    background-color: #7775ec;
    border: 1px solid #b3b3dd;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;
}
.photo{
    width: 50px;
    height: 50px;
    margin-left: 12px;
}
.paginatorBox{
    margin-left: 50px;
}
@media (max-width: 769px) {
    .user{
        margin: 20px;
        height: auto;
    }
}
@media (max-width: 481px) {
    .userPhoto{
        padding: 5px 5px;

    }
    .userName{
        font-size: 16px;
    }
    .userInfo{
        padding: 10px 10px;
    }
    .userMessage{
        font-size: 16px;
        line-height: 24px;
    }
    .btnFollow{
        border-radius: 5px;
        width: 60px;
        height: 20px;
        font-size: 12px;
    }
    .photo{
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    .paginatorBox{
        margin-left: 10px;
    }
}
