.container{
    padding: 50px;
}
.input{
    width: 330px;
    height: 30px;
    display: block;
    margin-top: 40px;
    padding: 6px 20px ;
    border: 1px solid black;
    border-radius: 8px;
}

.btn{
    width: 210px;
    height: 30px;
    display: block;
    margin-top: 40px;
}

.validationStatus{
    color: red;
}

.checkbox{
    margin-top: 30px;
    display: block;
}
.btnLogin{
    background-color: white;
    padding: 10px 30px;
    border-radius: 7px;
    color:var(--violet);
    border: 1px solid var(--dark-violet);
    box-shadow: 0 5px 8px -6px  rgb(133 142 255);
    cursor: pointer;
    margin-top: 14px;
}

@media (max-width: 769px) {
    .container{
        padding: 20px;
    }
    .input{
        width: 280px;
    }
}
@media (max-width: 481px) {
    .container{
        padding: 20px;
    }
    .input{
        width: 220px;
    }
}
@media (max-width: 320px) {
    .container{
        padding: 10px;
    }
    .input{
        width: 180px;
    }
}
